<footer style="background-color: #f2f2f2; padding: 20px; margin-top: 1rem">
  <div>
    <h4 style="margin: 0">MovieTickets.com</h4>
    <p style="margin: 0">Amsterdam, NL</p>
  </div>
  <div>
    <div>
      <p>2023</p>
    </div>
  </div>
  <div>
    <h5 style="margin: 0">Contact Us:</h5>
    <a href="https://github.com/eypk/uu-assignment-3/tree/main/app"
      >Code Base</a
    >
  </div>
</footer>
