<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= title %></title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header>
      <nav>
        <div id="nav_logo">
          <h2>MovieTickets.com</h2>
        </div>
        <label for="drop" class="toggle">
          <img
            id="toggle_img"
            src="./assets/menu-burger.png"
            alt="Header menu"
            width="24px"
          />
        </label>
        <input type="checkbox" id="drop" />
        <ul class="menu" id="header-menu">
          <li><a href="./">Home</a></li>
          <% if (user.username) { %>
          <li><a href="./"><%= user.username %></a></li>
          <li><a href="./" id="nav-logout-button">Logout</a></li>
          <% } else { %>
          <li><a href="./login" id="nav-login-button">Login</a></li>
          <% } %>
        </ul>
      </nav>
    </header>

    <section id="login-section">
      <h2>Login</h2>
      <form id="login-form">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required /><br /><br />
        <span id="email-error"></span><br />
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          name="password"
          required
        /><br /><br />
        <input type="submit" value="Login" id="form-login-button" /><br /><br />
      </form>
      <p>Not user? <a href="register">Sign Up</a></p>
    </section>
    <script src="javascript.js"></script>
    <script>
      const loginForm = document.getElementById("login-form");
      const loginButton = document.getElementById("form-login-button");
      loginButton.addEventListener("click", (e) => {
        // public/javascript.js
        handleLogin(e);
      });
    </script>
  </body>
</html>
